div{
  background-color: pink;
  border: 1px solid black;
  height: auto;
  text-align: center;
  line-height: 100px;
}
.red{
  background-color: red;
}
[class*="col-"] {
float: left;
padding: 5px;
}
